<div class="row">
  <div class="container mt-5">
    <h2>Inscription Client</h2>
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          name="nom"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          class="form-control"
          id="prenom"
          name="prenom"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          #inpEmail="ngModel"
          type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel
          required
        />
        <div
          *ngIf="!inpEmail.valid && inpEmail.touched"
          class="alert alert-danger"
        >
          Ce champ est obligatoire et est une adresse mail
        </div>
      </div>
      <div class="form-group">
        <label for="pays">Pays de résidence</label>
        <select class="form-control" id="pays" name="pays" ngModel required>
          <option *ngFor="let pays of listPays">{{ pays }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lien">Lien de parenté</label>
        <select class="form-control" id="lien" name="lien" ngModel required>
          <option value="Frère/Sœur">Frère/Sœur</option>
          <option value="Cousin/Cousine">Cousin/Cousine</option>
          <option value="Aucun">Aucun</option>
        </select>
      </div>
      <div class="form-group">
        <label for="motDePasse">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="motDePasse"
          name="motDePasse"
          ngModel
          required
          minlength="8"
        />
        <br />
      </div>
      <button
        [disabled]="registrationForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Valider
      </button>
    </form>
  </div>
</div>
