<div class="row">
  <div class="container mt-5">
    <h3>Nouvelle réservation</h3>
    <br />
    <form [formGroup]="reservationForm" (ngSubmit)="submitHandler()">
      <div class="form-group">
        <label for="startDate">Date de début</label>
        <input
          type="date"
          id="startDate"
          class="form-control"
          formControlName="startDate"
        />
      </div>

      <div class="form-group">
        <label for="endDate">Date de fin</label>
        <input
          type="date"
          id="endDate"
          class="form-control"
          formControlName="endDate"
        />
      </div>

      <div class="form-group">
        <label for="parasols">Parasols</label>
        <div formArrayName="parasols">
          <div
            *ngFor="let parasol of parasols; let i = index"
            class="form-group d-flex justify-content-between align-items-center"
          >
            <select formControlName="{{ i }}" class="form-control mr-2">
              <option *ngFor="let file of files">File {{ file.numero }}</option>
            </select>
            <button (click)="removeParasol(i)" class="btn btn-danger">
              Supprimer
            </button>
          </div>
        </div>
        <button (click)="addParasol()" class="btn btn-success mt-3">
          Ajouter
        </button>
        <br />
      </div>

      <div class="form-group">
        <br />
        <label for="comments">Remarques</label>
        <textarea
          id="comments"
          class="form-control"
          formControlName="comments"
        ></textarea>
      </div>
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!reservationForm.valid"
      >
        Envoyer
      </button>
    </form>
  </div>
</div>
